:root {
    zoom: 120%;
    --bg-color: #14171a;
    --bg-color2: #272727;
    --mainColor: #cccccc;
    --accentColor: #1ccaf1;
    --accentColor2: #ff79c6;
    --hoverColor: #25d0f0;
    --accentColor3: #50fa7b;
  }
  
  h1, sub{
    color: var(--accentColor2) !important;
  }
  
  body,h3,h4 {
    background-color: var(--bg-color);
    color: var(--mainColor);
    position: relative;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }#projectID {padding-top:10px; padding-left: 0em; color: #ccc; background-color: var(--bg-color);}
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
    
  h2,h3,h4{
    color: var(--accentColor2);
  }
  
  th {
    color: var(--accentColor3);
  }
  
  small {
    color: var(--accentColor3)
  }
  
  hr {
    border: 0.025em solid var(--mainColor);
    background: var(--mainColor);
    margin-top: 1em;
    margin-bottom: 2em;
  }
  
  strong {
    color: var(--mainColor);
  }
  
  a {
    color: var(--accentColor);
  }
  
  a.ghLink {
    color: var(--accentColor);
  }
  
  a:hover {
    color: var(--hoverColor);
    text-decoration: underline;
  }
  
  ul.nav a:hover { 
    color: var(--hoverColor) !important;
    background-color: var(--bg-color2);
  }
  
  .myName {
    color: var(--accentColor2) !important;
  }
  
  .white {
    color: var(--mainColor);
  }
  
  .navbar {
    background-color: var(--bg-color) !important;
    padding-top: 20px;
    padding-bottom: 0px;
  }

  .navbar-nav, .nav-link {
    color: var(--accentColor2) !important;
    font-size: 160%;
  }

  .navbar-brand {
    font-size: 160%;
    color: var(--mainColor) !important;
  }