:root {
  --background: #282a36;
  --foreground: #f8f8f2;
  --pink: #ff79c6;
  --green: #50fa7b;
  --cyan: #8be9fd;
  --yellow: #f1fa8c;
}

.pink {
  color: var(--pink);
}

.yellow {
  color: var(--yellow);
}

.foreground {
  color: var(--foreground);
}

.green {
  color: var(--green);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-size: 14pt;
  font-family: monospace, sans-serif;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

code {
  font-family: monospace, Menlo, Monaco, Consolas, "Courier New";
  padding: 2px;
}

legend {
  border-radius: 5px 5px 0 0;
  border: 1px solid #ccc;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1em;
}

a {
  color: var(--green);
  text-decoration: none;
}

.flex-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.right-column {
  max-width: 50%;
}

.left-column {
  padding-right: 5em;
}

.social {
  margin: 10px;
  will-change: transform;
  transition: transform 450ms;
  color: var(--foreground);
}

.social:hover {
  color: var(--green);
  transition: transform 125ms;
  transform: translateY(-10px);
}

@media (prefers-reduced-motion: reduce) {
  .social {
    transition: none;
  }
}

@media (max-width: 1350px) {
  .left-column {
    padding-right: 2em;
  }
}

@media (max-width: 950px) {
  .flex-parent {
    flex-direction: column;
  }
  .left-column {
    padding-right: 0em;
  }
  .right-column {
    max-width: 100%;
  }
  .social {
    color: var(--green);
  }
  body {
    font-size: 19pt;
  }
}

@media (max-width: 800px) {
  body {
    font-size: 14pt;
  }
}

@media (max-width: 420px) {
  body {
    padding: 0em;
    font-size: 13pt;
  }
}

@media (max-width: 370px) {
  body {
    font-size: 12pt;
  }
}

@media (max-width: 325px) {
  body {
    font-size: 10pt;
  }
}
